<div class="fNav--typeB container">
  <div class="fNav__logo">
    <img class="" src="https://corekara.co.jp/wp-content/uploads/module/dummyLogo.svg" alt="" width="205" height="40">
  </div>
  <ul class="fNav__list">
    <li><a href="#">ご利用ガイド</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">メールマガジン登録</a></li>
    <li><a href="#">特定商取引法表示について</a></li>
    <li><a href="#">プライバシーポリシー</a></li>
  </ul>
</div>
