<div class="fNav--typeD container">
  <ul class="fNav__list">
    <li><a href="#">ご利用ガイド</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">メールマガジン登録</a></li>
    <li><a href="#">特定商取引法表示</a></li>
    <li><a href="#">プライバシーポリシー</a></li>
  </ul>
</div>
