<div class="fNav--typeA container">
  <div class="row">
    <nav class="col-pc-3 col-sp-6 col-sp2-12 fNav__list">
      <h3>CATEGORIES</h3>
      <ul>
          <li><a href="#">トップス</a></li>
          <li><a href="#">ボトムス</a></li>
          <li><a href="#">バッグ</a></li>
          <li><a href="#">キャップ</a></li>
          <li><a href="#">アクセサリー</a></li>

      </ul>
    </nav>
    <nav class="col-pc-3 col-sp-6 col-sp2-12 fNav__list">
      <h3>CONTENTS</h3>
      <ul>
        <li><a href="#">お知らせ</a></li>
        <li><a href="#">イベント情報</a></li>
        <li><a href="#">セール情報</a></li>
        <li><a href="#">コーディネート特集</a></li>
        <li><a href="#">ブランド特集</a></li>
      </ul>
    </nav>
    <nav class="col-pc-3 col-sp-6 col-sp2-12 fNav__list">
      <h3>GUIDELINES</h3>
      <ul>
        <li><a href="#">ご利用ガイド</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">メールマガジン登録</a></li>
        <li><a href="#">特定商取引法表示について</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>
    </nav>
    <div class="col-pc-3 col-sp-6 col-sp2-12">
      <div class="fNav__logo">
        <img class="" src="https://corekara.co.jp/wp-content/uploads/module/dummyLogo.svg" alt="" width="205" height="40">
      </div>
      <ul class="snsNav">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-line"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
