<ul class="articleList articleList--typeA row">
  <li class="col-pc-3 col-tab-6">
    <a href="" class="articleList__wrap">
      <img class="articleList__img" src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" border="0" alt="商品が入ります">
      <h3 class="articleList__title">最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <time class="articleList__date">2020.02.01</time>
    </a>
  </li>
  <li class="col-pc-3 col-tab-6">
    <a href="" class="articleList__wrap">
      <img class="articleList__img" src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" border="0" alt="商品が入ります">
      <h3 class="articleList__title">最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <time class="articleList__date">2020.02.01</time>
    </a>
  </li>
  <li class="col-pc-3 col-tab-6">
    <a href="" class="articleList__wrap">
      <img class="articleList__img" src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" border="0" alt="商品が入ります">
      <h3 class="articleList__title">最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <time class="articleList__date">2020.02.01</time>
    </a>
  </li>
  <li class="col-pc-3 col-tab-6">
    <a href="" class="articleList__wrap">
      <img class="articleList__img" src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" border="0" alt="商品が入ります">
      <h3 class="articleList__title">最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <time class="articleList__date">2020.02.01</time>
    </a>
  </li>
</ul>
