<section class="highlight highlight--narrow">
  <div class="container">
    <div class="newsList newsList--typeC">
      <div class="newsList__head"><h2><i class="gNav__listIcon material-icons">info</i>お知らせ</h2></div>
      <div class="newsList__body">
        <ul>
          <li>
            <time data-time="2020-01-09">2020.01.09</time>
            <h3><a href="#">最大50%OFF！ サマーセールを開催中！</a></h3>
          </li>
          <!-- <li>
            <time data-time="2020-01-09">2020.01.09</time>
            <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
