<div class="newsList newsList--typeB">
  <h2 class="h2D newsList__head">お知らせ<span><small>INFORMATION</small></span></h2>
  <div class="newsList__body">
    <ul>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
    </ul>
  </div>

</div>
