<div class="row">
  <div class="col-sp-12 col-pc-6">
    <ul class="newsList newsList--typeA">
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
      <li>
        <time data-time="2020-01-09">2020.01.09</time>
        <h3><a href="#">最大50%OFF！ おトクなサマーセールを開催中！</a></h3>
      </li>
    </ul>
  </div>
  <div class="col-sp-12 col-pc-6">
    <a href="" class="newsBnr">
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" >
    </a>
  </div>
</div>
