<aside id="side">
  <nav class="side__cateNav">
    <h3 class="sideTitle">カテゴリーから探す</h3>
    <ul>
      <li class="hasChildren--click">
        <a href="">カテゴリー</a>
        <ul>
          <li><a href="">カテゴリー</a></li>
          <li><a href="">カテゴリー</a></li>
          <li><a href="">カテゴリー</a></li>
        </ul>
      </li>
      <li><a href="">カテゴリー</a></li>
      <li><a href="">カテゴリー</a></li>
      <li><a href="">カテゴリー</a></li>
    </ul>
  </nav>

  <div class="side__bnr">
    <a href="#"><img src="http://corekara.sub.jp/partslist/wp-content/uploads/2020/03/sidebnr.png" alt=""></a>
  </div>

  <div class="side__bnr">
    <a href="#"><img src="http://corekara.sub.jp/partslist/wp-content/uploads/2020/03/sidebnr.png" alt=""></a>
  </div>

  <div class="side__bnr">
    <a href="#" class="side__txtBnr side__txtBnr--typeA">
      <strong>新商品一覧</strong>
      <small>NEW ITEMS</small>
    </a>
  </div>

  <div class="side__bnr">
    <a href="#" class="side__txtBnr side__txtBnr--typeB">
      <strong>新商品一覧</strong>
      <small>NEW ITEMS</small>
    </a>
  </div>
</aside>
