<nav class="gNav gNav--typeA">
  <ul>
    <li class="hasChildren">
      <a href="#">カテゴリーから選ぶ</a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li class="hasChildren">
      <a href="#">メーカーから選ぶ</a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li class="hasChildren">
      <a href="#">価格帯から選ぶ</a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">お知らせ</a></li>
  </ul>
</nav>
