<nav class="gNav gNav--typeB">
  <ul>
    <li class="hasChildren">
      <a href="#"><span><strong>ITEMS</strong>商品</span></a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li class="hasChildren">
      <a href="#"><span><strong>BRAND</strong>ブランド</span></a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><span><strong>CONTENTS</strong>コンテンツ</span></a></li>
    <li><a href="#"><span><strong>CONTACT</strong>お問い合わせ</span></a></li>
  </ul>
</nav>
