<nav class="gNav gNav--typeC">
  <ul>
    <li class="hasChildren">
      <a href="#"><img class="gNav__listIcon" src="./img/icons/photo_size_select_actual_24px.svg" alt="" width="24" height="24">トップス</a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li class="hasChildren">
      <a href="#"><img class="gNav__listIcon" src="./img/icons/photo_size_select_actual_24px.svg" alt="" width="24" height="24">ボトムス</a>
      <div class="megaMenu">
        <ul class="megaMenu__inner row">
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
          <li class="col-3"><a href="#" class="megaMenu__button">カテゴリー</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><img class="gNav__listIcon" src="./img/icons/photo_size_select_actual_24px.svg" alt="" width="24" height="24">アクセサリー</a></li>
    <li><a href="#"><img class="gNav__listIcon" src="./img/icons/photo_size_select_actual_24px.svg" alt="" width="24" height="24">お問い合わせ</a></li>
  </ul>
</nav>
