<nav class="iconNav">
  <ul>
    <!-- <li><a href="#"><i class="material-icons">favorite</i></a></li> -->
    <li><a href="#"><i class="material-icons">person</i></a></li>
    <li><a href="#" class="iconNav__cart"><span class="cartAmount">0</span><i class="material-icons">shopping_cart</i></a></li>
  </ul>
</nav>
