<div class="telAndTime">
  <div><i class="material-icons">call</i><strong class="text--xlarge">0120-000-000</strong></div>
  <div><i class="material-icons">schedule</i>営業時間 - 9:00～18:00（定休日 - 月曜日）</div>
</div>
