<aside id="drawer">
  <div class="drawer__search">
    <form action="URLが入ります" class="searchForm searchFormB" role="search" method="get">
      <div class="searchForm__inner">
        <input type="text" value="" name="s" id="s" placeholder="キーワードで検索する">
        <button type="submit" class="searchForm__submit"><i class="gNav__listIcon material-icons">search</i></button>
      </div>
    </form>
  </div>
  <ul class="drawer__nav">

    <li class="hasChildren--click">
      <a href="" class="drawerIcon">
        <span class="drawerIcon__img"><img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" alt="アイコン"></span>
        <span class="drawerIcon__text">
          カテゴリーから探す
        </span>
      </a>
      <ul style="display: none;">
        <li><a href="">トップス</a></li>
        <li><a href="">ボトムス</a></li>
        <li><a href="">シューズ</a></li>
        <li><a href="">アクセサリー</a></li>
      </ul>
    </li>

    <li class="hasChildren--click">
      <a href="">カテゴリーから探す</a>
      <ul style="display: none;">
        <li><a href="">トップス</a></li>
        <li><a href="">ボトムス</a></li>
        <li><a href="">シューズ</a></li>
        <li><a href="">アクセサリー</a></li>
      </ul>
    </li>
    <li><a href="">ご利用ガイド</a></li>
    <li><a href="">プライバシーポリシー</a></li>
    <li><a href="">特定商取引法について</a></li>
    <li><a href="">お問い合わせ</a></li>
  </ul>
  <div class="drawer__account">
    <div class="drawer__accountText">
      <h2>ACCOUNT MENU</h2>
      <p>ようこそ　会員名 様</p>
    </div>
    <ul class="drawer__accountNav">
      <li>
        <a href="">
          <i class="material-icons">meeting_room</i>ログイン
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">person</i>新規会員登録
        </a>
      </li>
    </ul>
  </div>
  <a href="" class="menuClose drawer__close">メニューを閉じる<i class="material-icons">close</i></a>
</aside>
<div id="overlay" class="menuClose"><i class="material-icons">close</i></div>
