<footer id="ftr" class="ftr--typeB">
  <div class="highlight p0">
    <%- include('../../parts/footer/nav/_fNavA') %>
  </div>
  <%- include('../../parts/footer/copyright/_copyrightA') %>
</footer>

<%- include('./_ftrJs') %>
