<div class="row bnrList">
  <div class="col-6">
    <a href="#" class="bnrBox"><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></a>
  </div>
  <div class="col-6">
    <a href="#" class="bnrBox"><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></a>
  </div>
</div>

<div class="row bnrList">
  <div class="col-6">
    <a href="#" class="bnrBox">
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr">
      <h3>最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </a>
  </div>
  <div class="col-6">
    <a href="#" class="bnrBox">
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr">
      <h3>最大50%OFF！ おトクなサマーセールを開催中！</h3>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </a>
  </div>
</div>
