<div class="row cateList--typeC spSwiper">
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
  <a href="#" class="col-pc-2">
    <figure>
      <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" class="bnr">
      <figcaption>カテゴリー名</figcaption>
    </figure>
  </a>
</div>
