<div class="row cateList">
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
  <div class="col-tab-6 col-pc-3">
    <a href="#" class="iconButton">
      <span><img src="https://corekara.co.jp/wp-content/uploads/module/dummy585.png" class="bnr"></span>
      <span>カテゴリー名カテゴリー名</span>
    </a>
  </div>
</div>
