<section class="conceptC">
  <div class="container conceptC__bg" style="background-image: url('http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg');">
    <div class="conceptC__text conceptC__text--right">
      <h2 class="h2C text--serif text--left">こだわりの素材<small>SELECTED MATERIALS</small></h2>
      <p>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
  </div>
</section>

<section class="conceptC">
  <div class="container conceptC__bg" style="background-image: url('http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg');">
    <div class="conceptC__text conceptC__text--left">
      <h2 class="h2C text--serif text--left">こだわりの素材<small>SELECTED MATERIALS</small></h2>
      <p>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
  </div>
</section>

<section class="conceptC conceptC__bg" style="background-image: url('http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg');">
    <div class="container">
      <div class="conceptC__text conceptC__text--right">
        <h2 class="h2C text--serif text--left">こだわりの素材<small>SELECTED MATERIALS</small></h2>
        <p>
          テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
          テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </p>
      </div>
    </div>
</section>

<section class="conceptC conceptC__bg" style="background-image: url('http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg');">
  <div class="container">
    <div class="conceptC__text conceptC__text--left">
      <h2 class="h2C text--serif text--left">こだわりの素材<small>SELECTED MATERIALS</small></h2>
      <p>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
  </div>
</section>
