<section class="conceptB">
  <div class="container">
    <div class="row">
      <div class="col-pc-6 col-sp-12">
        <img src="https://corekara.co.jp/wp-content/uploads/module/dummy800800.png" alt="">
      </div>
      <div class="col-pc-6 col-sp-12 alignCenter">
        <div class="conceptB__textWrap">
          <h2 class="h2C text--left">CONCEPT<small>コンセプト</small></h2>
          <p>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
          <p>
            <a href="#" class="button arrow">詳しく見る</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
