<section class="conceptD">
    <div class="conceptD__row">
      <div class="conceptD__img">
        <img src="http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg" alt="">
      </div>
      <div class="conceptD__text">
        <h2 class="h2C text--serif">こだわりの素材<small>SELECTED MATERIALS</small></h2>
          <p>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
      </div>
    </div>
</section>

<section class="conceptD">
    <div class="conceptD__row conceptD__row--textLeft">
      <div class="conceptD__img">
        <img src="http://corekara.sub.jp/partslist/wp-content/uploads/2020/05/demoBg3.jpg" alt="">
      </div>
      <div class="conceptD__text">
        <h2 class="h2C text--serif">こだわりの素材<small>SELECTED MATERIALS</small></h2>
          <p>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
            テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
      </div>
    </div>
</section>
