<section class="conceptA">
  <img src="https://corekara.co.jp/wp-content/uploads/module/bg.jpg" alt="" class="conceptA__bg">
  <div class="container">
    <h2 class="h2C">CONCEPT<small>コンセプト</small></h2>
    <p class="text--center">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <p class="text--center">
      <a href="#" class="button arrow">詳しく見る</a>
    </p>
  </div>
</section>
