<div class="tab tab--typeA">
  <ul class="tabSwitch row">
    <li class="col-3 active"><span>トップス</span></li>
    <li class="col-3"><span>ボトムス</span></li>
    <li class="col-3"><span>アクセサリー</span></li>
    <li class="col-3"><span>シューズ</span></li>
  </ul>
  <div class="tabContents">
    <div class="tabContent active">
      <h3 class="h3A">トップス</h3>
      <p>
        テキストテキストテキストテキストテキスト。<br>
        テキストテキストテキストテキストテキスト。
      </p>
    </div>
    <div class="tabContent">
      <h3 class="h3A">ボトムス</h3>
      <p>
        テキストテキストテキストテキストテキスト。<br>
        テキストテキストテキストテキストテキスト。
      </p>
    </div>
    <div class="tabContent">
      <h3 class="h3A">アクセサリー</h3>
      <p>
        テキストテキストテキストテキストテキスト。<br>
        テキストテキストテキストテキストテキスト。
      </p>
    </div>
    <div class="tabContent">
      <h3 class="h3A">シューズ</h3>
      <p>
        テキストテキストテキストテキストテキスト。<br>
        テキストテキストテキストテキストテキスト。
      </p>
    </div>
  </div>
</div>
