<form action="URLが入ります" class="searchForm searchFormA" role="search" method="get">
  <div class="searchForm__inner">
    <input type="text" value="" name="s" id="s" placeholder="キーワードで検索する">
    <button type="submit" class="searchForm__submit"><i class="gNav__listIcon material-icons">search</i></button>
  </div>
</form>
