<section class="mainSliderSec">
  <div class="mainSliderSec__inner">
    <ul class="mainSlider">
      <li><img src="https://corekara.co.jp/wp-content/uploads/module/slider1.png" alt="" /></li>
      <li><img src="https://corekara.co.jp/wp-content/uploads/module/slider2.png" alt="" /></li>
      <li><img src="https://corekara.co.jp/wp-content/uploads/module/slider1.png" alt="" /></li>
      <li><img src="https://corekara.co.jp/wp-content/uploads/module/slider2.png" alt="" /></li>
    </ul>
    <a href="#" id="scrollBtn">SCROLL</a>
  </div>
</section>
