<form action="URLが入ります" class="searchForm searchFormA" role="search" method="get">
  <div class="searchForm__inner">
    <input type="text" value="" name="s" id="s" placeholder="キーワードで検索する">
    <button type="submit" class="searchForm__submit"><img class="gNav__listIcon" src="./img/icons/search_24px.svg" alt="" width="24" height="24"></button>
  </div>
</form>
