<ul class="itemList itemList-pc--5 itemList-sp--2">
  <li class="itemList__unit">
    <a href="#" class="itemWrap">
      <img class="itemImg" src="https://corekara.co.jp/wp-content/uploads/module//dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
      <p class="itemName">商品が入ります</p>
      <p class="itemPrice">10,000円<small>(税込)</small></p>
    </a>
  </li>
  <li class="itemList__unit">
    <a href="#" class="itemWrap">
      <img class="itemImg" src="https://corekara.co.jp/wp-content/uploads/module//dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
      <p class="itemName">商品が入ります</p>
      <p class="itemPrice">10,000円<small>(税込)</small></p>
    </a>
  </li>
  <li class="itemList__unit">
    <a href="#" class="itemWrap">
      <img class="itemImg" src="https://corekara.co.jp/wp-content/uploads/module//dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
      <p class="itemName">商品が入ります</p>
      <p class="itemPrice">10,000円<small>(税込)</small></p>
    </a>
  </li>
  <li class="itemList__unit">
    <a href="#" class="itemWrap">
      <img class="itemImg" src="https://corekara.co.jp/wp-content/uploads/module//dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
      <p class="itemName">商品が入ります</p>
      <p class="itemPrice">10,000円<small>(税込)</small></p>
    </a>
  </li>
  <li class="itemList__unit">
    <a href="#" class="itemWrap">
      <img class="itemImg" src="https://corekara.co.jp/wp-content/uploads/module//dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
      <p class="itemName">商品が入ります</p>
      <p class="itemPrice">10,000円<small>(税込)</small></p>
    </a>
  </li>
</ul>
